body {
    margin: 0;
    background-image: url("../images/background-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}
header {
    border-bottom: 4px solid white;
    height: auto;
}
div.nav {
    display: inline-block;
    display: flex;
    place-content: end;    
}
a.nav-links {
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-family: 'Poppins', serif;
}
a.nav-links:hover {
    color: white;
    text-transform: none;
}
a.buy-ticket:hover {
    color: white;
}
a.buy-ticket {
    background-color: black;
    padding: 5px 10px 5px 10px;
    margin-left: 10px;
    border: 1px solid blue;
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Poppins', serif;
}
div.first-half {
    display: flex;
    place-content: center;
    margin: 0;
}
h1.date {
    font-size: 100px;
    color: white;
    text-align: center;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Poppins', serif;
    margin-bottom: 70px;
    margin-top: 300px;
}
h1.buy-ticket-2 {
    padding: 20px;
    border: 6px solid white;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Poppins', serif;
    font-size: 40px;
    display: inline-block;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}
h1.buy-ticket-2:hover {
    background-color: white;
    opacity: 0.5;
    color: black;
}
h1.web-dev {
    font-size: 100px;
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 800;
    margin-top: 200px;
    padding-left: 80px;
}
div.time-stamp {
    float: right;
    margin-right: 100px;
    margin-top: 80px;
}
div.timeboxes {
    margin: 3px;
    display: inline-block;
    text-align: center;
}
p.time-number {
    background-color: white;
    padding: 20px;
    color: black;
    font-weight: 800;
    font-family: 'Poppins', serif;
    font-size: 50px;
    margin: 0;
    line-height: 1;
}
p.time-summary {
    color: white;
    font-weight: 600;
    padding-top: 10px;
    font-family: 'Poppins', serif;
    font-size: 20px;
    margin: 0;
    line-height: 1;
}