div.home-body {
    margin: 0;
    background-image: url("../images/home-bg.image.png");
    background-repeat: no-repeat;
    background-size: cover;
    height: auto;
}

.color1 {
    color: #2300f9;
}

div.header {
    border-bottom: 4px solid white;
    height: auto;
}

div.header > a {
    cursor: pointer;
}

div.nav {
    display: inline-block;
    display: flex;
    place-content: end;
}

a.logo { 
    cursor:pointer;
}

a.nav-links {
    text-decoration: none;
    color: white;
    padding: 5px 10px 5px 10px;
    font-size: 20px;
    font-family: 'Poppins', serif;
    cursor: pointer;
}

a.buy-ticket {
    background-color: blue;
    border-radius: 5px;
}

a.nav-links:hover {
    color: white;
}

a#nav-expand-btn {
    font-weight: 400;
    color: white;
    border-bottom: none;
    font-size: 30px; 
    cursor: pointer;
}

div.first-half {
    display: flex;
    place-content: center;
    margin: 0;
}

h1.date {
    font-size: 80px;
    color: white;
    text-align: center;
    line-height: 1em;
    font-weight: 600;
    font-family: 'Poppins', serif;
    margin-bottom: 70px;
    margin-top: 150px;
}

h1.buy-ticket-2 {
    padding: 20px;
    border: 6px solid white;
    border-radius: 15px;
    font-weight: 600;
    font-family: 'Poppins', serif;
    font-size: 30px;
    display: inline-block;
    color: white;
    cursor: pointer;
    transition-duration: 0.5s;
}

h1.buy-ticket-2:hover {
    background-color: white;
    color: black;
}

h1.web-dev {
    font-size: 80px;
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 800;
    margin-top: 100px;
    padding-left: 80px;
}

h3.web-dev {
    font-size: 45px;
    color: white;
    font-family: 'Poppins', serif;
    font-weight: 800;
    margin-top: 100px;
}

div.time-stamp {
    margin-top: 80px;
}

div.timeboxes {
    margin: 3px;
    display: inline-block;
    text-align: center;
}

p.time-number {
    background-color: white;
    padding: 20px;
    color: black;
    font-weight: 800;
    font-family: 'Poppins', serif;
    font-size: 50px;
    margin: 0;
    line-height: 1;
}

p.time-summary {
    color: white;
    font-weight: 600;
    padding-top: 10px;
    font-family: 'Poppins', serif;
    font-size: 20px;
    margin: 0;
    line-height: 1;
}

div.about-body {
    margin: 0;
    background-image: url("../images/about-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

p.about-text {
    line-height: 2;
    font-weight: 600;
    font-family: 'Poppins', sans-serif;
}

h1.about-txt {
    font-size: 50px;
    font-family: 'Poppins', serif;
    font-weight: 800;
    text-align: center;
    line-height: 1.4;
}

body.speakers-body {
    margin: 0;
    background-image: url("../images/speakers-bg-image.png");
    background-repeat: no-repeat;
    background-size: cover;
}

h1.our-speakers {
    font-size: 50px;
    color: black;
    font-family: 'Poppins', serif;
    font-weight: 800;
    padding-top: 50px;
    line-height: 0.9;
}

body.schedule-body {
    background-color: #D9D9D9;
    animation: fadeInFromNone 1.2s ease-out;
}

div.schedule-nav > a {
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-family: 'Poppins', serif;
    font-weight: 400;
    cursor: pointer;
}

a.active {
    background-color: #DC9C61;
}

div.days {
    background-color: #D9D9D9;
    height: auto;
}

.event-circle {
    color: #D9D9D9;
    font-size: 40px;
}

div.speakers-body {
    background-color: #dff0ef;
} 

div.days > a {
    font-size: 20px;
    text-decoration: none;
    border-radius: 10px;
    color: black;
    font-family: 'Poppins', serif;
    font-weight: 800;
    cursor: pointer;
}

.event-deets-text {
    margin-block-start: 0;
    margin-block-end: 0;
}

div.schedule-body {
    background-color: #E6F4F3;
}

form.questions-form {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    color: black;
}

button.submit {
    background-color: #DC9C61;
    color: white;
    font-weight: 600;
}

input.form-control::placeholder {
    color: white;
}

input.form-control, textarea.form-control {
    background-color: #D9D9D9;
}

form.questions-form > input {
    background-color: grey;
}

h3.form-title {
    font-weight: 600;
    text-decoration: underline;
    font-size: 25px;
}

h4.speaker-name, h6.speaker-job {
    margin-block-start: 0;
    margin-block-end: 0;
    font-family: Inter;
    font-weight: 500;
}

div.speakers-row {
    margin-top: 50px;
}

h2.venue {
    padding-top: 30px;
    font-weight: 800;
    font-family: 'Poppins', sans-serif;
}

div.venue-body {
    background-color: #E8FBF9;
}

.map {
    margin-top: 20px;
    margin-bottom: 50px;
}
